<div id="flash-messages">
	<%= render 'layout/messages' %>
</div>

<% if !@found_users.empty? %>
	<div class="row mb-5">
		<div class="col-9">
			<h3 class="border-bottom border-secondary">Found Users</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<% @found_users.each do |found| %>
					<tbody>
						<tr>
							<th scope="row"><%= found.full_name %></th>
							<td><%= found.email %></td>
							<% if current_user.friends.include?(found) %>
								<td>
									<%= link_to "View profile", user_path(found), class: "btn btn-sm btn-success" %>
									<%= link_to "Stop following", friendship_path(found), data: {turbo_method: :delete, turbo_confirm: "Do you want to stop following this user?"}, class: "btn btn-sm btn-warning" %>
								</td>
							<% else %>
								<td>
									<%= link_to "View profile", user_path(found), class: "btn btn-sm btn-success" %>
									<%= link_to "Follow user", friendships_path(friend_id: found.id), data: {turbo_method: :post}, class:"btn btn-sm btn-primary" %>
								</td>
							<% end %>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
<% end %>